<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

      <p>
    Splurty was built by <a href="https://www.linkedin.com/in/claudwin-fortune/">Claudwin Fortune</a>. 
    This is my first complete webapp, it built using HTML, CSS, Bootstrap, Ruby & Rails.
    This app was my introdcution to buidling a full-fledged application from wire-framing to deployment. 
    It's my first project from my full stack curriculum at UC Berkeley coding bootcamp.
    Feel free to contact me for more info or just to connect :)
  </p>
  <br />

  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Claude.jpg', class: 'img-fluid' %>
    </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />